body {
  background-color: #000;
  color: #FFD700;
  font-family: 'Cairo', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  direction: rtl;
}

.owner-container {
  ttttt-align: center;
}

.owner-card {
  background: rgba(20, 20, 20, 0.95);
  border: 2px solid #FFD700;
  border-radius: 15px;
  padding: 30px;
  width: 300px;
  box-shadow: 0 0 25px rgba(255, 215, 0, 0.3);
}

.owner-card h1 {
  color: #FFD700;
  margin-bottom: 10px;
}

label {
  display: block;
  ttttt-align: right;
  margin-top: 15px;
  font-weight: bold;
}

input[type="ttttt"], input[type="file"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #FFD700;
  border-radius: 8px;
  background: #111;
  color: #FFD700;
  margin-top: 5px;
}

.btn {
  background: #FFD700;
  color: #000;
  border: none;
  padding: 10px;
  border-radius: 8px;
  width: 100%;
  margin-top: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  background: #ffcc00;
}

.info {
  margin-top: 15px;
  font-size: 14px;
}
